  <style>
      .services-cont{display: none;}
  .services-cont.showS {	
    list-style-type: none;
    display: block;
    background-color:lightgreen;
    }
   .bar-color{
    background-color: #006400;
   }  
  .services-cont.showS li {
      float: none;
      display: inline;
    height:0;
    border:none;
    }
    
  .services-cont.showS li a {
      display: block;
      text-align: left;
  
    }
    </style>
    
    <div class="sidebar bar-color">
      <div class="sidebar-wrapper">
        <div class="logo">
          
        </div>

        <ul class="nav">
        {% if request.user.is_authenticated %}
          <p style="margin-left:10px;">YOUR FIELDS</p>
          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p style="font-size: 18px;">Dashboard</p>
            </a>
          </li>
          <li class="{% if 'icons' in segment %} active {% endif %}">
            <a href="{% url 'map' %}">
              <i class="tim-icons icon-atom"></i>
              <p style="font-size: 18px;">Fields</p>
            </a>
          </li>
          <li class="{% if 'maps' in segment %} active {% endif %}">
            <a href="/ui-maps.html">
              <i class="tim-icons icon-pin"></i>
              <p style="font-size: 18px;">Fields Settings</p>
            </a>
          </li>
          <p style="margin-left:10px;">PROFILE</p>
             {% if request.user.company %}
           <li class="{% if 'notifications' in segment %} active {% endif %}">
            <a href="/ui-notifications.html">
              <i class="tim-icons icon-bell-55"></i>
              <p style="font-size: 18px;">{{company_name }}</p>
            </a>
            </li>
             {%else%}
             <li class="{% if 'notifications' in segment %} active {% endif %}">
               <a href="/ui-notifications.html">
               <i class="tim-icons icon-bell-55"></i>
               <p style="font-size: 18px;">Company</p>
                </a>
             </li>
             {%endif%}
             {% if request.user.username %}
              <li class="{% if 'page-user' in segment %} active {% endif %}">
               <a href="/page-user.html">
              <i class="tim-icons icon-single-02"></i>
              <p style="font-size: 18px;">{{request.user.username}}</p>
                </a>
              </li>
              {% else %}
              <li class="{% if 'page-user' in segment %} active {% endif %}">
                <a href="/page-user.html">
               <i class="tim-icons icon-single-02"></i>
               <p style="font-size: 18px;">User</p>
                 </a>
               </li>
               {%endif%}
          <li class="{% if 'tables' in segment %} active {% endif %}">
              <a href="javascript:void(0);" onclick="SettingsMenu();">
              <i class="tim-icons icon-puzzle-10"></i>
              <p style="font-size: 18px;">Settings</p>
            </a>
            <ul class="services-cont">
              <li><a href="#">Profile Settings</a></li>      
              <li><a href="#">Parameter Settings</a></li>
              <li><a href="#">Documentation</a></li>
              <li><a href="#">Company Settings</a></li>
              <li><a href="#">User List</a></li>
            </ul>
          </li>
          <p style="margin-left:10px;">ABOUT</p>
          <li class="{% if 'typography' in segment %} active {% endif %}">
            <a href="/ui-typography.html">
              <i></i>
              <p> </p>
            </a>
          </li>
          <p style="margin-left:10px;">NOTIFICATIONS</p>
          <li class="{% if 'rtl-support' in segment %} active {% endif %}">
            <a href="/page-rtl-support.html">
              <i></i>
              <p></p>
            </a>
          </li>
          <p style="margin-left:10px;">FARMING</p>
          <li class="{% if 'rtl-support' in segment %} active {% endif %}">
            <a href="/page-rtl-support.html">
              <i></i>
              <p></p>
            </a>
          </li>
          <li>
            <a href="{% url 'logout' %}" >
              <i class="tim-icons icon-button-power"></i>
              <p style="font-size: 18px;">Logout</p>
            </a>
          </li>
          {% else %}
          <li class="active">
            <a target="_blank" 
               href="#">
              <i ></i>
              <p></p>
            </a>
          </li>   
          {% endif %}
                    
        </ul>
        
      </div>
    </div>
    <script>
      function SettingsMenu() {
       document.getElementsByClassName("services-cont")[0].classList.toggle("showS");
        }
    </script>
