{% extends "layouts/base.html" %}

{% block title %} Maps {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"

     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
     
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>


.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline select {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button:hover {
  background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
</style>
{% endblock stylesheets %}

{% block content %}

<div class="row">
  <form method="post" class="form-inline" action="">
    {% csrf_token %}
    <div>
      <label>Order No</label>
      <select id="orders_ddl"  name="selected_order" onchange="map_update()">
        <option value="none">None</option>
        <option value="6f32f9ce-5266-4d68-b6f1-b314e31a071f" selected>3103</option>
        <option value="30fc75c3-a68e-4ba3-95a0-a9bf3e6d2c4f">3099</option>
        <option value="6809fe46-5bfc-4c5c-8e90-b267c705be2e">3097</option>
      </select>
    </div>
    <br/>
    <div>
      <label>Date</label>
      <select id="date_ddl"  name="selected_date" onchange="map_update()">
        <option value="none">None</option>
        <option value="20221223">23-12-2022</option>
        <option value="20221224" selected>24-12-2022</option>
        <option value="20221225">25-12-2022</option>
      </select>
    </div>
    <br/>
    <div>
      <label>Field Level</label>
      <select id="field_level_ddl" name="selected_field_level" onchange="map_update()">
        <option value="none">None</option>
        <option value="vegetation_cover">Vegetation Cover (%)</option>
        <option value="actual_evapotranspiration">Actual Evapotranspiration (mm/d)</option>
      </select>
    </div>
    <br/>
    
    <div>
      <label>Pixel Level</label>
      <select id="pixel_level_ddl" name="pixel_level_ddl" onchange="map_pixel_update()">
        <option value="none">None</option>
        <option value="moisture_status">Moisture Status (-)</option>
      </select>
    </div>
  </form>
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
       
      </div>
      <div class="card-body">
        <div class="row">
          
        </div>
       
      <div id="map"></div>
      <div id="mapload">
        {{ m | safe}}
      </div>
     
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!--  Google Maps Plugin    -->
  <!-- Place this tag in your head or just before your close body tag. -->
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="https://unpkg.com/georaster-layer-for-leaflet"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxqHY-DeXtqK0GSM0BOvYgmSelQBhBRcE&callback=initMap&v=weekly" defer></script>-->

  <script>
    function map_update(){
      $.ajax({
        type: 'post',
        url: "{% url 'map_change' %}",
        data:{ 'selected_order':$("#orders_ddl").val(),'selected_date':$("#date_ddl").val(),'selected_field_level':$("#field_level_ddl").val(),'pixel_level_ddl':$("#pixel_level_ddl").val(),'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success: function(data) {  
           const html = $.parseHTML(data);
           $("#mapload").empty();
           $("#map").empty();
           $("#map").append(html);
        }
       });
      }
      function map_pixel_update(){
      $.ajax({
        type: 'post',
        url: "{% url 'map_pixel' %}",
        data:{'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success: function(data) {  
           const html = $.parseHTML(data);
           $("#mapload").empty();
           $("#map").empty();
           $("#map").append(html);
        }
       });
      }
    $(document).ready(function(){
     function map_update(){
     
               
    }
   
    })
  
    //var map = L.map("map").setView([0, 0], 5);

// add OpenStreetMap basemap
//L.tileLayer("http://{s}.tile.osm.org/{z}/{x}/{y}.png", {
  //attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
//}).addTo(map);

//var url_to_geotiff_file = "C:/Users/CC\Desktop/irriwatch api doc/zip/286d7a11-4abd-449e-856b-79959dfd1396.tif";

//fetch(url_to_geotiff_file)
  //.then(function (response) {
    //return response.arrayBuffer();
 // })
  //.then(function (arrayBuffer) {
    //parseGeoraster(arrayBuffer).then(function (georaster) {
      //console.log("georaster:", georaster);
      //var layer = new GeoRasterLayer({
        //georaster: georaster,
        //resolution: 512
      //});
      //layer.addTo(map);
      //map.fitBounds(layer.getBounds());
    //});
  //});
      
  </script>
   
{% endblock javascripts %}
