{% extends "layouts/base.html" %}

{% block title %} Maps {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"

     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>
     
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<style>


.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline select {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #1e1e2f;
  color:#ddd;
  border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button:hover {
  background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 100%;
}

</style>

{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div id="myModalgraph" class="modal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="color: black;" class="modal-title" id="field_name_title"></h5>
          <button type="button" class="close" class="btn-close" data-dismiss="modal" aria-label="Close">X</button>
        </div>
        <div class="modal-body" >
          <div class="graph_div" id="chartContainer"  >
            <canvas id="myChart" style="width: 100%; height: 360px;"></canvas>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <form method="post" class="form-inline" action="">
    {% csrf_token %}
    <div>
      <label>Order No</label>
      <select id="orders_ddl"  name="selected_order" onchange="map_update()">
        <option value="none">None</option>
        <option value="6f32f9ce-5266-4d68-b6f1-b314e31a071f" selected>3103</option>
        <option value="30fc75c3-a68e-4ba3-95a0-a9bf3e6d2c4f">3099</option>
        <option value="6809fe46-5bfc-4c5c-8e90-b267c705be2e">3097</option>
      </select>
    </div>
    <br/>
    <div>
      <label>Date</label>
      <select id="date_ddl"  name="selected_date" onchange="map_update()">
        <option value="none">None</option>
        <option value="20221223">23-12-2022</option>
        <option value="20221224" selected>24-12-2022</option>
        <option value="20221225">25-12-2022</option>
      </select>
    </div>
    <br/>
    <div>
      <label>Field Level</label>
      <select id="field_level_ddl" name="selected_field_level" onchange="map_update()">
        <option value="none">None</option>
        <option value="vegetation_cover">Vegetation Cover (%)</option>
        <option value="actual_evapotranspiration">Actual Evapotranspiration (mm/d)</option>
        <option value="irrigation_amount_cumulative">Applied Water Cumulative (mm)</option>
      </select>
    </div>
    <br/>
    
    <div>
      <label>Pixel Level</label>
      <select id="pixel_level_ddl" name="pixel_level_ddl" onchange="map_pixel_update()">
        <option value="none">None</option>
        <option value="moisture_status">Moisture Status (-)</option>
        <option value="vegetation_cover">Vegetation cover (%)</option>
        <option value="actual_evapotranspiration">Actual Evapotranspiration (mm/d)</option>
      </select>
    </div>
  </form>
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
       
      </div>
      <div class="card-body">
        <div class="row">
          
        </div>

      <div id="map"></div>
      <div id="mapload">
        {{ m | safe}}
      </div>
     
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript">
  function graph_create(crop_production_cumulative,water_unlimited_crop_production,attainable_crop_production,vegetation_cover){

    var data = {
      "labels": [
      "2022-12-23",
      "2022-12-24",
      "2022-12-25"
    ],
    "datasets": [
      {
        "backgroundColor": "rgb(255,255,255)",
        "borderColor": "rgb(156, 39, 176)",
        "fill": false,
        "data": crop_production_cumulative,
        "id": "amount",
        "label": "Dry Matter Production Cumulative",
				"yAxisID":"y"
      },
      {
        "backgroundColor": "rgb(255,255,255)",
        "borderColor": "rgb(39, 176, 200)",
        "fill": false,
        "data":water_unlimited_crop_production,
        "id": "amount",
        "label": "Water Unlimited Dry Matter Production Cumulative",
				"yAxisID":"y"

      },
      {
        "backgroundColor": "rgb(255,255,255)",
        "borderColor": "rgb(0, 255, 0)",
        "fill": false,
        "data": attainable_crop_production,
        "id": "amount",
        "label": "Attainable Production Cumulative",
				"yAxisID":"y"

      },
      {
        "backgroundColor": "rgb(255,255,255)",
        "borderColor": "rgb(0,0,0)",
        "fill": false,
        "data": vegetation_cover,
        "id": "amount",
        "label": "Vegetation Cover",
				"yAxisID":"y1"

      }
    ]
   
  };
var options = {
    responsive: true,
    interaction: {
      mode: 'index',
      intersect: false,
    },
    stacked: false, 
    plugins: {
      title: {
        display: true,
        text: ''
      }
    }, 
    scales: {
      y: {
        type: 'linear',
        display: true,
        position: 'left'
      },
      y1: {
        type: 'linear',
        display: true,
        position: 'right',
        // grid line settings
        grid: {
          drawOnChartArea: false, // only want the grid lines for one axis to show up
        },
      }
    }
  }
var type = "line";
var myChart = new Chart(document.getElementById("myChart"), {options, data, type});

  }
	var eventMethod = window.addEventListener
			? "addEventListener"
			: "attachEvent";
	var eventer = window[eventMethod];
	var messageEvent = eventMethod === "attachEvent"
		? "onmessage"
		: "message";

	eventer(messageEvent, function (e) {
		
		// if (e.origin !== 'http://the-trusted-iframe-origin.com') return;
		
    $.ajax({
        type: 'post',
        url: "{% url 'show_graphs' %}",
        data:{'selected_order':$("#orders_ddl").val(),'selected_date':$("#date_ddl").val(),'field_uid':e.data,'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success: function(data) { 
          $("#field_name_title").empty();
          $("#field_name_title").append('Graph - '+data['field_name']);
          $('#myModalgraph').modal("show");
         
          graph_create(data['crop_production_cumulative'],data['water_unlimited_crop_production'],data['attainable_crop_production'],data['vegetation_cover']);             
    }
       });
      
		 
		
	});
</script>
<script>

 
</script>

  <!--  Google Maps Plugin    -->
  <!-- Place this tag in your head or just before your close body tag. -->
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="https://unpkg.com/georaster-layer-for-leaflet"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxqHY-DeXtqK0GSM0BOvYgmSelQBhBRcE&callback=initMap&v=weekly" defer></script>-->

  <script>
    function map_update(){
      $.ajax({
        type: 'post',
        url: "{% url 'map_change' %}",
        data:{ 'selected_order':$("#orders_ddl").val(),'selected_date':$("#date_ddl").val(),'selected_field_level':$("#field_level_ddl").val(),'pixel_level_ddl':$("#pixel_level_ddl").val(),'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success: function(data) {  
           console.log(data);
           const html = $.parseHTML(data);
           $("#mapload").empty();
           $("#map").empty();
           $("#map").append(html);
        }
       });
      }
      function map_pixel_update(){
      $.ajax({
        type: 'post',
        url: "{% url 'map_pixel' %}",
        data:{'selected_order':$("#orders_ddl").val(),'selected_date':$("#date_ddl").val(),'selected_field_level':$("#field_level_ddl").val(),'pixel_level_ddl':$("#pixel_level_ddl").val(),'csrfmiddlewaretoken': '{{ csrf_token }}'},
        success: function(data) {  
           const html = $.parseHTML(data);
           $("#mapload").empty();
           $("#map").empty();
           $("#map").append(html);
        }
       });
      }
     
    
    
    $(document).ready(function(){
     
    $("#triggerEvents").on("click", function(ev){
    ev.preventDefault();
    var modalid = $(this).data("target");
    console.log(modalid);
    var url = $(this).attr("href");
    $(modalid).modal("show"); // Triggering bootstrap modal.

  // Do the asynchronous part here.
});
    })
  
    //var map = L.map("map").setView([0, 0], 5);

// add OpenStreetMap basemap
//L.tileLayer("http://{s}.tile.osm.org/{z}/{x}/{y}.png", {
  //attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
//}).addTo(map);

//var url_to_geotiff_file = "C:/Users/CC\Desktop/irriwatch api doc/zip/286d7a11-4abd-449e-856b-79959dfd1396.tif";

//fetch(url_to_geotiff_file)
  //.then(function (response) {
    //return response.arrayBuffer();
 // })
  //.then(function (arrayBuffer) {
    //parseGeoraster(arrayBuffer).then(function (georaster) {
      //console.log("georaster:", georaster);
      //var layer = new GeoRasterLayer({
        //georaster: georaster,
        //resolution: 512
      //});
      //layer.addTo(map);
      //map.fitBounds(layer.getBounds());
    //});
  //});
      
  </script>
  
   
{% endblock javascripts %}
